body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.base {
    display: flex;
    justify-content: center;
}

.questions {
    font-weight: bold;
    line-height: 1.3px;
}